{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="container">
        <div class="sign-box">
            <h1 style="font-family: sans-serif; color: #3b82f6">Sign up</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Sign up</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
