{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<h1>Product</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ product.id }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ product.name }}</td>
    </tr>
    <tr>
        <th>Moredetails</th>
        <td>{{ product.moredetails }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ product.price }}</td>
    </tr>
    </tbody>
</table>

<a type="btn" href="{{ path('app_product_index') }}">back to list</a>

{#<a href="{{ path('app_product_buy', {'id': product.id}) }}">buy</a>#}

    <form method="post" action="{{ path('app_product_buy_completion', {'id': product.id}) }}" >
        <button class="btn" onclick="alert('Thank you for shopping')">Buy</button>
    </form>

{% endblock %}
