<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Laptop EShop!{% endblock %}</title>
    {#    <link rel="icon" #}
    {#          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
{#    <link rel="stylesheet" href="base.css">#}
        {% block stylesheets %}
        {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <div class="toolbar">
        <div class="toolbar-menu">
            {# <a href="{{ path('app_product_index') }}">{{Home|trans}}</a> #}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="menu-icon" href="{{ path('app_product_index') }}">Products</a>
            {% else %}
                <a class="menu-icon" href="{{ path('app_product_index') }}">Home</a>
            {% endif %}
            <a class="menu-icon" href="{{ path('app_comment_index') }}">Comments</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="menu-icon" href="{{ path('app_category_index') }}"> Categories</a>
                <a class="menu-icon" href="{{ path('app_system_information_index') }}">Systems Information</a>
                <a class="menu-icon" href="{{ path('app_user_index') }}">Users </a>
                <a class="menu-icon" href="{{ path('app_purchase_index') }}">Sale List</a>
            {% else %}
            {% endif %}
        </div>
        <div class="toolbar-profile">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="login" role="button" href="{{ path('app_logout') }}">Logout</a>
                <a class="my-profile"
                   href="{{ path('app_user_edit' , {'id': app.user.id}) }}">{{ app.user.name | first }}</a>
            {% else %}
                <a class="login" href="{{ path('app_login') }}">Login</a>
                <a class="sign-up" href="{{ path('app_register') }}">Sign up</a>
                <div class="my-profile">{{ 'Guesst' | first }}</div>
            {% endif %}
        </div>
    </div>


</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
